p {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: yellow;
	font-size: 20px;
}

.poz {
	position: relative;
	left: 30%;
	height: 40vh;
	width: 40vw;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: black;
	font-size: 50px;
}

a {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 25px;
}